* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #88abdb;
  width: 100%;
  height: 8%;
  z-index: 5;
}

.container-nav .nav-itens {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  transition: 0.5s ease-in;
}

.container-nav .nav-item {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: 350ms;
  cursor: pointer;
}
