* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, #8bffc0, #91abe6);
  height: 100vh;
}

.container-calculator {
  width: 300px;
  background-color: aliceblue;
  border-radius: 14px;
}

.container-calculator h1 {
  text-align: center;
}

.result {
  width: 96%;
  padding: 20px;
  margin-left: 0.3rem;
  background-color: #fff;
}
