.nav {
  width: 100%;
  height: 50px;
  background-color: #ddd;

  &-itens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #333;

    li {
      list-style: none;
    }
  }
}
